<div class="bg-light p-4">
  <div class="container">
    <h3 class="mb-4">Primary locale is <%= Tolk::Locale.primary_locale.language_name %></h3>
    <%= form_for(Tolk::Locale.new, html: { class: 'form-inline' }) do |f| %>
      <div class="form-group">
        <%= f.label "Add a new Locale" %>
        <select id="select_tolk_locale_name" name="tolk_locale[name]" class="form-control mx-3">
          <%= options_for_select tolk_locale_selection %>
        </select>
      </div>
      <%= f.submit 'Add', class: 'btn btn-primary' %>
    <%- end -%>
  </div>
</div>
<div class="container my-5">
  <%- if @locales.any? -%>
    <div class="card-columns">
      <% @locales.each do |locale| %>
        <a href="<%= url_for(locale) %>" class="card card-body">
          <div class="d-flex align-items-center justify-content-between">
            <%= locale.language_name %>
            <% missing_count = locale.count_phrases_without_translation %>
            <% if missing_count > 0 %>
              <span class="badge badge-primary"><%= missing_count %></span>
            <% end %>
          </div>
        </a>
      <% end %>
    </div>

  <%- else -%>
    <p>No locales yet.</p>
  <%- end -%>
</div>

