<% content_for :head do %>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="<%= tolk.locale_path(@locale, :format => 'atom') -%>" />
<% end %>

<div class="bg-light p-4">
  <div class="container">
    <h3 class="switch d-flex align-items-center justify-content-between mb-4">
      <span>Missing translations (<%= @locale.count_phrases_without_translation %>)</span>
      <small><%= link_to 'See completed', tolk.all_locale_path(@locale) %></small>
    </h3>

  <% if @locale.has_updated_translations? && action_name != 'updated' %>
    <span class="notice">Some phrases have changed. <%= link_to "Update translations", tolk.updated_locale_path(@locale) %>.</span>
  <% end %>

  <div class="search">
    <%= render :partial => "tolk/searches/form", :locals => { :locale => @locale } %>
  </div>
  </div>
</div>

<div class="container my-5">
  <div class="translations">
    <% if @phrases.any? %>
       <%= form_for @locale do |locale_form| %>
        <table class="table">
          <tr>
            <th class="translation"><%= @locale.language_name -%></th>
            <th class="actions"></th>
            <th class="key"><%= Tolk::Locale.primary_language_name -%></th>
          </tr>
          <% @phrases.each do |phrase| %>
            <tr>
              <% translation = Tolk::Translation.new(:locale => @locale, :phrase => phrase) %>
              <td class="translation">
                <%= hidden_field_tag :"translations[][id]", translation.id, :id => "#{translation.object_id}_id" %>
                <%= hidden_field_tag :"translations[][phrase_id]", phrase.id, :id => "#{translation.object_id}_phrase_id" %>
                <%= hidden_field_tag :"translations[][locale_id]", translation.locale_id, :id => "#{translation.object_id}_locale_id" %>
                <%= text_area_tag :"translations[][text]", format_i18n_text_area_value(translation.text), :class => "locale", :id => "#{translation.object_id}_text", class: 'form-control' %>
              </td>
              <td class="actions text-center">
                <a class="copy btn btn-default" href="#" tabindex="-1" title="Copy original translation">&larr;</a><br>
                <span class="warning" title="Interpolation keys don't match">⚠</span>
              </td>
              <td class="original">
                <%= text_area_tag :"translations[][original_text]", format_i18n_text_area_value(phrase.translations.primary.text), :disabled => true, class: 'form-control' %>
                <small class="key form-text text-muted" title="<%= phrase.key %>">
                  <% if params[:q].present? -%>
                    <%= highlight(format_i18n_value(phrase.translations.primary.text), params[:q]) -%>
                  <% else -%>
                    <%= format_i18n_value(phrase.translations.primary.text) -%>:
                  <% end -%>
                  <%= boolean_warning if phrase.translations.primary.boolean? -%>

                  <%= truncate(phrase.key, :length => 100) %>
                </small>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="table_submit">
          <p><%= locale_form.submit "Save changes", :class => 'save btn btn-primary' %></p>
        </div>
      <% end %>
      <div class="paginate">
        <%= tolk_paginate @phrases %>
      </div>
    <% else %>
      <p style="text-align: left">There aren't any missing or updated phrases that need translation.</p>
      <p>&nbsp;</p>
    <% end %>
  </div>
</div>
